<section class="container section">
  <div class="card mt-3 mb-3">
    <div class="card-header">
      {{{logosObj.svgNewUser}}}
      <h5 class="mb-0">Registro de usuario</h5>
    </div>
    <div class="card-body">
      <form method="POST" action="/sign-up" class="form-signup">
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <div class="form-group mb-2">
          <label for="username">Nombre de usuario:</label>
          <input
            class="form-control form-control-sm required-field"
            type="text"
            id="username"
            name="username"
            autofocus
          />
        </div>
        <div class="form-group mb-2">
          <label for="email">Correo electronico:</label>
          <input
            class="form-control form-control-sm required-field"
            type="email"
            id="email"
            name="email"
          />
        </div>
        <div class="form-group mb-2">
          <label for="password">Contraseña:</label>
          <input
            class="form-control form-control-sm required-field"
            type="password"
            id="password"
            name="password"
          />
        </div>
        <div class="form-group mb-2">
          <label for="confirmPassword">Confirmar contraseña:</label>
          <input
            class="form-control form-control-sm required-field"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
          />
        </div>
        <div class="buttons-container">
          <a href="/" class="btn button">
            Volver
          </a>
          <button type="button" class="btn button ms-1" id="btn-signup">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>