.section {
  h1 {
    font-weight: 700;
  }

  &__filter-form {
    padding: 0.45rem 0.65rem;
    margin: 0;
  }

  &__modal-closed {
    transform: translateX(-200%);
  }

  &__checkboxes {
    display: grid;
    align-items: center;
    background-color: $cyan;
    padding: 0.2rem;
    margin-bottom: 0.45rem;
    border-radius: 4px;
    border: 2px solid $darkCyan;
    min-height: 2.85rem;
    max-height: 6.5rem;
    overflow-y: auto;

    label {
      color: aliceblue;
      font-weight: 500;
    }

    @include scrollbar($darkCyan, aliceblue, 4px);
  }
}
