@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Knewave&display=swap");

$logoFont: "Knewave", cursive;
$mainFont: "Baloo 2", cursive;
$gradientWhite: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
$cyan: rgb(0, 180, 180);
$darkCyan: #219ebc;
$shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$bookShadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
$bookShadowHover: 4px 10px 5px 0 rgb(0 0 0 / 50%);
